* {
    margin: 0;
    font-family: monospace;
    font-size: 1.2rem;
    color: black;
}

body {
    height: 100vh;
    background-color: rgb(76, 121, 121);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clock-container {
    padding: 10px;
    border:5px solid black;
    border-radius: 4px;
    background-color: rgb(226, 226, 226);
    display: flex;
    flex-direction: column;
    text-align: center;

}
#currentAlarmContainer{
    margin-top: 2rem;
    background-color:rgb(226, 226, 226);
    padding: 10px;
    border:5px solid black;
    border-radius: 4px;
    background-color: rgb(226, 226, 226);
}

.hidden {
    display: none;
}

#AddAlarm{
    margin-top: 10px;
    background-color: red;
    border-color: red;
    border-radius: 4px;
}

#alarmAdded{
    color: red;
}

input{
    cursor: pointer;
}






